html, body{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/*header*/
header{
  background: url('https://w0.peakpx.com/wallpaper/158/641/HD-wallpaper-uchiha-itachi-dark.jpg') center/cover no-repeat fixed;
  padding: 50px;
  text-align: center;
  overflow: hidden;
}

h1{
  font-size:80px;
  color: white;
  margin-left: -50%;
  text-shadow: 0px 10px 0px black;
}

header img{
  border-radius: 150px;
  width: 25%;
  height: 25%;
  margin-left: -50%;
  border:10px  #000000;
  box-shadow: 10px 10px 20px #000000;
}

/*content*/
.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

img.big_image{
  max-width: 150%;
  width: 1000px;
}

p.caption{
  font-size: 80px;
  font-weight:
  color: black;
  text-align:center;
  font-style: italic;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  color:red;
  text-decoration: none;
}

footer{
  margin-top: 20px;
  padding: 40px 20px;
  background-color: black;
  color:white;
}

footer ul{
    text-align: center;
}

footer ul li{
  display: inline;
  margin: 0 5px;
}
